<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Retake Requests</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" />
    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/css/requests.css" />
</head>

<body>
    <%- include("../../partials/header") %>
    
    <main class="container">
        <div class="form-header">
            <h2>Student Retake Requests</h2>
            <button class="add-btn" onclick="openPopup('addStudentPopup')">+</button>
        </div>
        <div class="request-list" id="request-list">
            <% if(!err && requests && requests.length > 0) { %>
                <% requests.forEach(function(request) { %>
                    <div class="request-item" data-set-id="<%=request.testId%>" onclick="openPopup('viewStudentPopup')"><%=request.email%>, Class: <%= request.className %>, Test: <%= request.testName %></div>
                    <% }); %>
            <% } %>
        </div>
    </main>

    <div id="addStudentPopup" class="popup">
        <div class="popup-content">
            <button class="close-btn" onclick="closePopup('addStudentPopup')">X</button>
            <h3>Add Student</h3>
            
            <input id="usersName" type="email" placeholder="Student name" />
            <br><br>
            <select id="classDropdown">
                <option value="" disabled selected>Select a class</option>
                <% if (!err && classes && classes.length> 0) {  %>
                    <% classes.forEach(function(classItem) { %>
                        <option data-class-id="<%= classItem.classId %>"><%= classItem.className %></option>
                    <% }); %>
                <% } %>
            </select>
            <br><br>
            <select id="testDropdown">
                <option value="" disabled selected>Select a test</option>
            </select>
            <br><br>
            <div id="questionList" class="request-list-add">
            </div>
            <br>
            <button id = "createNewStuRequest" class="submit-btn" onclick="closePopup('addStudentPopup')">Submit</button>
        </div>
    </div>

    
    
    <!-- <div id="viewStudentPopup" class="popup">
        <div class="popup-content">
            <button class="close-btn" onclick="closePopup('viewStudentPopup')">X</button>
            <h3>View Student</h3>
            <button class="submit-btn" onclick="closePopup('viewStudentPopup')">Submit</button>
        </div>
    </div> -->

    <script src="/js/requests.js"></script>
    
    <%- include("../../partials/footer") %>
</body>

</html>
